{% extends "songs_app/base.html" %}
{% load static %}
{% load my_extras %}

{% block body_block %}
  <div class="container">
    <h1>Top 10 Songs:</h1>
  </div>

  <table>
    <th>Position</th>
    <th>Artist</th>
    <th>Song</th>
    <th>searches</th>
    {% for i in range %}
      <tr>
        <td> {{ i|add:1 }}</td>
        <td>{{ artist_lst|index:i }}</td>
        <td>{{ song_lst|index:i }}</td>
        <td>{{ searches_lst|index:i}}</td>
      </tr>
    {% endfor %}

  </table>

{% endblock %}
