.introduction {
  text-align: center;
  margin-top: 40px;
}

.jumbotron {
  margin-top: 40px;
  background-color: white;
}


.form {
  text-align: center;
  margin-top: 100px;
}


#id_artist {
  width: 500px;
  border-radius: 30px;
  border: 2px solid #9B9B9B;
  height: 40px;
}

#id_song {
  width: 500px;
  border-radius: 30px;
  border: 2px solid #9B9B9B;
  height: 40px;
}

input, input[placeholder] {
  text-align: center;
}
